body {
    background-color: white;
    font-family: 'Lato', 'Noto Sans', 'Helvetica', 'Corbel', sans-serif, 'Helvetica', 'Corbel', sans-serif;
    font-size: 13px;
    margin: 25px;
    overflow-x: hidden;
 }
 
#navTool {
    margin: -25px;
    padding: 0px;
    background-color: rgb(4, 23, 63);
    z-index: 1;
    border-bottom: 2px solid rgb(84, 106, 148);
    width: 105%;
    height: 100px;
}

.header {
    font-size: 18px;
}